@import 'vue3-typer/dist/vue-typer.css';
@import '@/assets/style/variables.scss';

// Headings
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

h2 {
  font-family: 'Poppins', serif;
  font-size: 2.75rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

//Buttons
#contact {
  .v-btn {
    background-color: #3f51b5;
    color: #eeeeee !important;
  }
  .v-btn:hover {
    color: #ffffff !important;
  }
}

a {
  font-family: 'Poppins', serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
}

// Page Sections
section {
  padding: 1.5rem 0;
  &:nth-child(2n + 1) {
    background-color: #fafafa;
  }
  &.hero {
    padding-top: calc(7rem + 96px);
    color: #ffffff;
  }
}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 2.75rem;
  }
  .vue-typer {
    font-size: 2.75rem;
  }
  section {
    padding: 7rem 0;
  }
}

/* SCSS */
.vue-typer {
  /* Styles for the vue-typer container
     e.g. font-family, font-size  */
  line-height: 1;
  padding-top: 10px;
  display: inline-block;

  .custom.char {
    /* Styles for each character
       e.g. color, background-color */
    color: #8c9eff;

    &.typed {
      /* Styles specific to typed characters
         i.e. characters to the left of the caret */
      color: #8c9eff;
    }

    &.selected {
      /* Styles specific to selected characters
         i.e. characters to the right of the caret while VueTyper's
              'eraseStyle' is set to a selection-based style */
    }

    &.erased {
      /* Styles specific to erased characters
         i.e. characters to the right of the caret while VueTyper's
              'eraseStyle' is set to a non-selection-based style */
    }
  }

  .custom.caret {
    height: 2rem;
    background-color: #8c9eff;
    width: 6px;
    border-radius: 5px;
    margin-left: 5px;
  }
}
